@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.logo {
    display: flex;
    flex: 1 1 5rem;
}

.logo img {
    width: 150px;
}

.btn-contrate button {
    background-color: #FFDD36;
    color: fff;
    width: 180px;
    color: #101D62;
    align-items: center;
}

.btn-banner button {
    background-color: #FFDD36;
    color: fff;
    width: 230px;
    color: #101D62;
    height: 40px;
    margin-top: 45px;
}

.nav {
    display: flex;
    align-items: center;
    margin: 5px 40px 5px 40px;
}

.hero {
    background-image: url('./assets/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    color: white;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    background-color: #101D62;
    width: 500px;
    height: 250px;
    padding: 1.5rem;
    color: white;
    border-radius: 12px;
    margin-bottom: 35px;
}

.card h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

.card p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin: 10px 0 10px 0;
}

.hero h1 {
    font-size: 30pt;
    font-weight: 400;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.message {
    width: 410px;
    height: 200px;
    text-align: left;
    margin-top: 55px;
}

.message span {
    font-weight: bold;
}

.message h1 {
    color: #101d61;
    font-size: 35px;
    font-weight: bold;
}

.message p {
    font-size: 19px;
    margin-top: 20px;
}

.hero p {
    font-size: 15pt;
}

.brand {
    font-weight: 500;
}

.description {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    flex-wrap: wrap;
    margin: 25px;
    margin-left: 100px;
    text-align: left;
    flex: 1 1 20rem;
    justify-content: center;
}

.description h1 {
    font-size: 40px;
}

.description p {
    font-size: 20px;
}

.banner-img {
    width: 450px;
    margin-top: 250px;
}

.video {
    height: 350px;
    background-color: grey;
    display: flex;
    flex: 1 1 20rem;
    flex-wrap: wrap;
    margin-right: 85px;
}

.text-transfor {
    color: #ffdd36;
    font-weight: 500;
    text-transform: uppercase;
}

.footer {
    background-color: #101d61;
    color: white;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px;
}

.card-p {
    justify-content: center;
}

.main {
    background: #FFDD36;
    width: 100%;
    height: 220px;
    margin-bottom: 250px;
    color: #101D62;
    text-align: center;
}

.main h3 {
    font-size: 35px;
    padding: 25px;
}

.benefits {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.benefit {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}

.description-item {
    margin-top: 25px;
    text-align: center;
    color: #101D62;
    width: 170px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.item {
    background: #C4C4C4;
    border-radius: 100px;
    width: 180px;
    height: 180px;
}

.price {
    width: 380px;
    height: 420px;
    background: #101D62;
    border-radius: 7px;
    color: #FFDD36;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price h3 {
    font-size: 28px;
    padding: 18px;
}

.value {
    background: #FFFFFF;
    border-radius: 7px;
    height: 60px;
    color: #101D62;
    width: 250px;
    font-weight: bold;
    font-size: 35px;
    line-height: 57px;
    text-align: center;
}

.price p {
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.time {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #101D62;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time span {
    font-size: 38px;
}

.price span {
    font-weight: bold;
}

.offer-time {
    display: flex;
}

.price button {
    margin-top: 45px;
    width: 220px;
    height: 45px;
}

.main-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

.quiz {
    width: 320px;
    margin: 35px;
    font-size: 18px;
    color: #101D62;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz p {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* mobile */

@media only screen and (max-width: 600px) {
    .nav button {
        display: none;
    }
    .logo img {
        width: 130px;
    }
    .main h3 {
        font-size: 17pt;
    }
    .benefits {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: space-between;
    }
    .cards {
        margin-top: 40px;
    }
    .card {
        height: auto;
    }
    .benefit {
        width: 190px;
        margin: 15px;
    }
    .description-item {
        font-size: 12pt;
    }
    .price {
        width: 100%;
    }
    .main-offer {
        display: block;
    }
    .message {
        width: 300px;
    }
    .banner {
        margin-right: 350px;
    }
    .banner-img {
        width: 100px;
    }
    .nav {
        margin: 5px
    }
    .description h1 {
        font-size: 20pt;
        margin-bottom: 25px;
    }
    .description p {
        font-size: 12pt;
    }
    .hero {
        background-position: left;
    }
}